@font-face {
    font-family: bold;
    src: url(GothamBold.ttf);
}

@font-face {
    font-family: medium;
    src: url(GothamMedium.ttf);
}

@font-face {
    font-family: light;
    src: url(GothamLight.ttf);
}